.tox .tox-statusbar{
    display: none!important;
}
.body-crud{
    display: flex;

    //bouton base
    .btn-crud{
        width: 20%;
    }
    tr{
        width: 100%;
    }
    .button-effect{
        .button {
            display: flex;
            width: 55%;
            border: 2px solid $blanc;
            padding: 15px 20px;
            color: $blanc;
            text-transform: uppercase;
            text-decoration: none;
            font-size: .8em;
            letter-spacing: 1.5px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 10px;
    
            .icon {
                width: 30px;
                margin-left: 10px;
            }
        }
        
    
        a {
            color: $blanc;
            text-decoration: none;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            font-family: $quantico;
            font-size: 16px;
            font-weight: 600;
        }
    
        #button-2 {
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }
    
        #button-2 a {
            position: relative;
            transition: all .7s ease-Out;
        }
    
        #slide {
            width: 100%;
            height: 100%;
            left: -100%;
            background: $jaune;
            position: absolute;
            transition: all .7s ease-Out;
            bottom: 0;
        }
    
        #button-2:hover #slide {
            left: 0;
        }
    }
   

    //-----------
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        background-color: rgb(233, 233, 233);
        height: 100%;
        position: fixed;
        box-shadow: 1px 0 5px gray ;
        .logo{
            margin: 30px 0 20px 0;
            img{
                width: 50%;
                height: auto;
            }
        }
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: $noir;
                    font-family: $quantico;
                    font-size: 20px;
                }
                a:hover{
                    color: $rouge;
                }
            }
        }
        .Logout_crud{
            background-color: $jaune;
            color: $gris;
            padding: 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
            font-family: $quantico;
            margin-bottom: 15px;
            font-size: 20px;
            transition: 0.3s all ease-in-out;
            &:hover{
                box-shadow: -4px 4px 8px gray;
                transform: scale(1.1);
                transition: 0.3s all ease-in-out;
            }
        }
    }
    

    section{
        width: 85%;
        margin-left: 15%;
    }
    .lead{
        display: flex;
        justify-content: flex-end;
        .btn-ajouter{
            background-color: $jaune;
            color: $gris;
            padding: 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
            font-family: $quantico;
            margin-bottom: 15px;
            font-size: 20px;
            transition: 0.3s all ease-in-out;
            text-align: right;
            &:hover{
                box-shadow: -4px 4px 8px gray;
                transform: scale(1.1);
                transition: 0.3s all ease-in-out;
            }
    
        }
    }
    

    // ____________________________ POSTS ____________________________
        #Posts{
            .container-boutons{
                display: flex; 
                justify-content: space-around;
                align-items: center;
                margin-bottom: 40px;
                 .ajouter{
                    a{
                        background: linear-gradient(90deg, #E70E02 0%, #F44E01 99.99%, #FF8A00 100%);
                        text-decoration: none;
                        color: $blanc;
                        font-family: $quantico;
                        font-size: 20px;
                        padding: 5px 15px;
                        border-radius: 5px;
                        &:hover{
                            color: $gris;
                        }
                    }
                }
                select{
                    border:2px solid $jaune;
                    border-radius: 10px;
                    color: $jaune;
                    font-family: $quantico;
                    font-size: 20px;
                    padding: 10px 20px;
                    &:focus-visible{
                        outline-color: $jaune;
                    }
                }
            }
           
            table{
                tr{
                    .numero{
                       
                    }
                    .titre{
                       
                    }
                    .image{
                        
                        img{
                            width: 50%;
                            height: auto;
                            margin: auto;
                        }
                    }
                    .description{
                        
                    }
                    .actions{
                        
                    }
                }
               
            }

            .container-show{
                display: flex;
                .show-texte{width:60%;}
                .show-image{width: 30%;
                img{
                    width: 100%;
                    height: auto;
                }}
            }
        }
    //________________________________________________________________
}