.body-crud{
    display: flex;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        background-color: rgb(233, 233, 233);
        height: 100%;
        position: fixed;
        box-shadow: 1px 0 5px gray ;
        .logo{
            margin: 30px 0 20px 0;
            img{
                width: 50%;
                height: auto;
            }
        }
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: $noir;
                    font-family: $quantico;
                    font-size: 20px;
                }
                a:hover{
                    color: $rouge;
                }
            }
        }
        .Logout_crud{
            background-color: $jaune;
            color: $gris;
            padding: 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
            font-family: $quantico;
            margin-bottom: 15px;
            font-size: 20px;
            transition: 0.3s all ease-in-out;
            &:hover{
                box-shadow: -4px 4px 8px gray;
                transform: scale(1.1);
                transition: 0.3s all ease-in-out;
            }
        }
    }
    

    section{
        width: 80%;
        margin-left: 20%;
    }
    .lead{
        display: flex;
        justify-content: flex-end;
        .btn-ajouter{
            background-color: $jaune;
            color: $gris;
            padding: 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
            font-family: $quantico;
            margin-bottom: 15px;
            font-size: 20px;
            transition: 0.3s all ease-in-out;
            text-align: right;
            &:hover{
                box-shadow: -4px 4px 8px gray;
                transform: scale(1.1);
                transition: 0.3s all ease-in-out;
            }
    
        }
    }
    

    // ____________________________ POSTS ____________________________
        #Posts{
            .ajouter{

            }
            table{
                tr{
                    .numero{
                       
                    }
                    .titre{
                       
                    }
                    .image{
                        
                        img{
                            width: 50%;
                            height: auto;
                            margin: auto;
                        }
                    }
                    .description{
                        
                    }
                    .actions{
                        
                    }
                }
               
            }
        }
    //________________________________________________________________
}