//----------------------- FOOTER --------------------------

.footer-svg {
    display: flex;
    margin-bottom: -10px;
    margin-top: -10px;
    z-index: 10;
    img{
        height: 20px;
        z-index:100;

    }
}

footer {
    background-color: $gris;
    z-index: 9;

    .footer-container {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        padding-bottom: 15px;

        .footer-info {
            width: 60%;
            display: flex;
            flex-direction: column;

            .footer-logo {
                display: flex;
                align-items: center;

                .logo-texte-container {
                    display: flex;
                    flex-direction: column;

                    .logo-titre {
                        font-family: $quantico;
                        font-size: 20px;
                        padding: 0;
                        margin-bottom: 5px;
                        color: $jaune;
                    }

                    .logo-texte {
                        color: $blanc;
                        font-family: $overlock;
                        padding: 0;
                        margin: 0;
                    }
                }


            }

            .location {
                display: flex;
                align-items: center;
                margin-left: 30px;

                .location-texte {
                    color: $blanc;
                    text-decoration: none;

                    .icon {
                        width: 25px;
                    }
                }

                .location-texte:hover {
                    color: $jaune;

                    svg {
                        fill: $jaune;
                    }
                }


            }
        }

        .footer-contact {
            width: 40%;

            .button {
                display: flex;
                width: 55%;
                border: 2px solid $blanc;
                padding: 15px 20px;
                color: $blanc;
                text-transform: uppercase;
                text-decoration: none;
                font-size: .8em;
                letter-spacing: 1.5px;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 10px;

                .icon {
                    width: 30px;
                    margin-left: 10px;
                }
            }

            a {
                color: $blanc;
                text-decoration: none;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                font-family: $quantico;
                font-size: 16px;
                font-weight: 600;
            }

            #button-2 {
                position: relative;
                overflow: hidden;
                cursor: pointer;
            }

            #button-2 a {
                position: relative;
                transition: all .7s ease-Out;
            }

            #slide {
                width: 100%;
                height: 100%;
                left: -100%;
                background: $jaune;
                position: absolute;
                transition: all .7s ease-Out;
                bottom: 0;
            }

            #button-2:hover #slide {
                left: 0;
            }


        }
    }
    .footer-texte{
        background-color: $gris;
        padding: 20px 0 10px 0;
        p{
            color: $blanc;
            font-family: $overlock;
            font-size: 16px;
            a{
                text-decoration: none;
                color: $blanc;
            }
            a:hover{color: $jaune;}
        }
    }
}


//----------------------------------------------------------
